@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
@import url('https://fonts.cdnfonts.com/css/darktech-ldr');
body {
    background-color: #62ae7f;
    font-size: 1.5em;
    color: #fff3d6;
}
h1, h2 {
    font-family: 'Lexend';
}
label, a{
    font-family: 'Audiowide';
}
button {
    font-family: 'Darktech LDR';
    border-radius: 5px;
    height: 30px;
    background-color: #54d67d;
}
input{
    font-family: monospace;
    border-radius: 5px;
    height: 25px;
}